
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <h1 class="h1">
      <span>
          <img style="box-shadow: 0px 0px 20px 0px #f0d496;    max-width: 87px;margin: -15px;border-radius: 10px;" alt="Smart job Logo" src="assets/jobs-logo.jpg">
        </span>
      <span style=" margin-left:2% ;color:greenyellow !important;">
      {{ title }}
      </span>
      <span style="margin-left: 475px; color: #adff2f57 !important;">
        {{page}}
      </span>
      <span style="float:right">

          <span style="margin-right:20px;font-style: italic;color: #9acd3282;margin-right: 20px;font-size: 20px; ">{{email}}</span> <span style="float:right"><input  class="button" type="button" (click)="logout()" value="Go"></span>


    </span>
    </h1>
  <!-- <img style="    margin-left: -99px;" alt="." > -->
</div>
<div style= "color:lightgoldenrodyellow">
<p-steps   [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

<div [ngSwitch]="activeIndex">
  <!-- the same view can be shown in more than one case -->
  <div *ngSwitchCase="0">

    <div class="col-md-3">
    </div>
    <div class="col-md-5">
      <div class="row">




        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-8">
            <h1 style="color:#adff2f85">Personal Info</h1>

            <form action="/thankyou" method="get">
              First name <input type="text" [(ngModel)]="firstName" name="firstname" placeholder="First Name" class="form-control"><br>
              Last name <input class="form-control" [(ngModel)]="lastName" name="lastName" type="text"   placeholder="LastName"><br>
              Email <input type="text" readonly="true" [(ngModel)]="candidateEmail" name="email"  placeholder="Email" class="form-control"><br>
              Address<br> <span><input type="input" [(ngModel)]="address" name="address" class="form-control" cols="20" rows="10"  placeholder="Address Line 1"></span><br>

              <br>
              Phone Number <input class="form-control" [(ngModel)]="phone" name="phone" type="text" style="margin-left: 200;" placeholder="Phone Number"><br>

              <!-- <a href="/thankyou"><input class="btn-primary" type="submit" lable="Submit"></a> -->
            </form>

          </div>

        </div>
      </div>



    </div>
    <div class="col-md-3">
        <span class="arrow " (click) ="activeIndex = activeIndex+1"></span>
    </div>

      <!--default case when there are no matches -->
 </div>


 <div style="background: red" *ngSwitchCase="1">

    <div class="col-md-3">
        <span class="arrow flip" (click) ="activeIndex = activeIndex-1"></span>
    </div>
    <div class="col-md-5">
      <div class="row">




        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-8">
            <h1>Documents</h1>

            <form action="/thankyou" >
              <div class="form-group">
                <label for="file">Choose File</label>
                <input type="file"
                       id="file"
                       (change)="handleFileInput($event.target.files)">
                       <button style="color:black"(click)="uploadFileToActivity()" label="Upload" >Upload</button>
            </div>
                <!-- <button onclick="javascript:alert(document.myForm.path.value)"  ></button> -->


              <br>
             <br>
              <!-- <a href="/thankyou"><input class="btn-primary" type="submit" lable="Submit"></a> -->
            </form>

          </div>

        </div>
      </div>



    </div>
    <div class="col-md-3">
        <span class="arrow " (click) ="activeIndex = activeIndex+1"></span>
    </div>

      <!--default case when there are no matches -->
 </div >
 <p-toast key="myKey2" position="top-right"></p-toast>


 <div style="background: red" *ngSwitchCase="2">

    <div class="col-md-3">
        <span class="arrow flip" (click) ="activeIndex = activeIndex-1"></span>
    </div>
    <div class="col-md-5">





        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-8">
            <h1>Education</h1>

            <form action="/thankyou" method="get">
              University / College <input type="text" [(ngModel)]="uni"  name="uni" placeholder="University" class="form-control"><br>
              GPA <input class="form-control" type="number" name="gpa"  [(ngModel)]="gpa"   placeholder="GPA"><br>
              Total GPA  <input type="number"  name="totalGpa"  placeholder="Total GPA" [(ngModel)]="totalGpa"  class="form-control"><br>
              Major <input type="text" name="major"  placeholder="Major" [(ngModel)]="major"  class="form-control"><br>
              Stream <input type="text"  name="stream"  placeholder="Stream" [(ngModel)]="stream"  class="form-control"><br>


    <br>

            </form>

          </div>
          <div class="col-md-1"></div>
        </div>




    </div>
    <div class="col-md-3">
        <span class="arrow" (click) ="activeIndex = activeIndex+1" ></span>
    </div>


 </div>

 <div *ngSwitchCase="3">

    <div class="col-md-3 arrow flip"  (click) ="activeIndex = activeIndex-1" ></div>
    <div class="col-md-5">
      <div class="row">




        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-8">
            <h1>Experience</h1>

            <form action="/thankyou" method="get">
              Company <input type="text"  name="firstname" [(ngModel)]="company"  placeholder="Company" class="form-control"><br>
              Role <input class="form-control" type="text" [(ngModel)]="roleInCompany" name="roleInCompany"   placeholder="Role"><br>
              Skills  <input type="text" [(ngModel)]="skills"  name= "skills"   placeholder="please add all comma seperate skills" class="form-control"><br>
              Experience  <input type="number" [(ngModel)]="exp"  name= "exp"  placeholder="Years" class="form-control"><br>



    <br>

            </form>

          </div>

        </div>
      </div>



    </div>
    <div class="col-md-3 arrow" (click) ="activeIndex = activeIndex+1"></div>


 </div>



 <div  *ngSwitchCase="4">

    <div class="col-md-3 arrow flip"  (click) ="activeIndex = activeIndex-1"></div>
    <div class="col-md-5">
      <div class="row">




        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-8">
            <h1>Terms and Conditions </h1>

            <p>
              By clicking on update button you provide all rights to website Smart Resume to process your profile information.
            </p>
            <!-- <p>
                Because a Terms and Conditions agreement is the agreement where you inform the users of your website about the rules, terms and guidelines that they need to follow in order to use and access your website, a Terms and Conditions agreement has become extremely important.

                While it's not required by any laws currently (but third-parties such as Facebook may require it), through a Terms and Conditions you can maintain your rights to exclude certain users that may abuse your website or do not follow the rules you set
            </p> -->



              <p-radioButton name="groupname" value="val1" [(ngModel)]="selectedValue" ></p-radioButton> Accept <br><br>
              <p-radioButton name="groupname" value="val2" [(ngModel)]="selectedValue" ></p-radioButton> Decline <br><br>
              <div  *ngIf="selectedValue == 'val1' ; else disabledbutton" >
              <button  (click)= "updateProfile()"  placeholder="Email" class="form-control">Update Profile</button><br>
              <button  (click)= "viewJobs()"  placeholder="Email" class="form-control">View Jobs</button>
            </div>
            <ng-template #disabledbutton  ><div >
                <button (click)= "updateProfile()"    placeholder="Email" disabled="true" class="form-control">Update Profile</button><br>
                <button  (click)= "viewJobs()"   disabled="true"  placeholder="Email" class="form-control">View Jobs</button>
              </div></ng-template>


        </div>
      </div>



    </div>


      <!--default case when there are no matches -->
 </div>
</div>
</div>
